<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Color</title>
</head>

<body>
<h1>color2.gohtml file</h1>

<h2>Thank you {{.Name}} !</h2>

<h2>Ok, your prefered color is {{.Color}} </h2>

<br/><br/>
<a href="/color?name={{.Name}}" >Play again...</a>
</body>

</html>