<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Color</title>
</head>

<body>
<h1>color1.gohtml file</h1>
<h2>Choose your prefered color</h2>

<form action="/color" method="post">
<table>
<tr><td>Your name : </td> <td><input type="text" name="name" placeholder="name" value="{{.Name}}"></td></tr>
<tr><td>Your prefered color : </td> 
<td> 
<select name="color" >
  <option value="red">red</option>
  <option value="blue">blue</option>
  <option value="green">green</option>
  <option value="black">black</option>
</select> 
</td></tr>
</table>
<button type="submit">Submit</button>
</form>
<br/><br/>
</body>

</html>